.mat-dialog-content {}

.mdc-dialog__content>:last-child {
    animation: imageView 2s ease 0s forwards;

}

img {
    width: -moz-max-content;
    width: intrinsic;
    width: -webkit-fill-available;
    object-fit: scale-down;
    width: 100%;
    max-height: 31vh;

}

#imageGallery {
    width: 100%;
    height: auto;
    object-fit: cover;
}


@keyframes imageView {
    from {
        height: 0;
    }

    to {
        height: calc(100vh - 362px);
    }
}

.rotate {
    animation: landscape 1s ease 0s forwards !important;


}

@keyframes landscape {
    from {
        transform: rotate(0deg);
    }

    to {

        transform: rotate(-90deg);
    }
}

@media screen and (max-width:500px) {
    ::ng-deep .cdk-overlay-pane {
        max-width: 91vw !important;

    }

    .mdc-dialog__content {
        padding: 20px 4px 20px 4px !important;

    }

}