<section id="about" class=" justifyCenter sidePadding30 section">
    <ng-container>
        <div  class="sectionHeader flex">About Me</div>
        <div data-aos="fade-up" data-aos-duration="4000" class="flex animation justifySpaceBtw aboutContainer">
            <div class="aboutText f-20 w-50percent">
                <div *ngIf="isDesktop" class="skillHeader">Profile</div>
                <div class="mt-10">I'm a Frontend Web Developer building the Front-end of Websites and Web Applications that
                    leads to the success of the overall product. </div>
                <br>
                <div>I am experienced in developing web and desktop applications including full front end design. I’ve also worked on hybrid applications of some of the most trending mutual funds in India.  I'm
                    open to Job opportunities where I can contribute, learn and grow. If you have a good opportunity
                    that matches my skills and experience then don't hesitate to contact me. </div>
                    <br><div class="font-semiBold">Email : sushmashenoy1997@gmail.com</div>
                    <br><div class="font-semiBold font-Lora">Phone: +1 4088587555</div>
          <br>
          <button class="contact">Contact Me</button>

                </div>
            <div class="skillContainer">
                <div class="skillHeader">Skills</div>
                <table class="w-100percent skillTable">
                    <tr class="font-semiBold">Angular

                    </tr>
                    <td>
                        <div class="progressBar">
                            <div class="value angular"></div>
                        </div>
                    </td>

                    <tr class="font-semiBold">JavaScript</tr>
                    <td>
                        <div class="progressBar">
                            <div class="value javascript"></div>
                        </div>
                    </td>
                    <tr class="font-semiBold">Typescript</tr>
                    <td>
                        <div class="progressBar">
                            <div class="value typescript"></div>
                        </div>
                    </td>

                    <tr class="font-semiBold">HTML 5</tr>
                    <td>
                        <div class="progressBar">
                            <div class="value html"></div>
                        </div>
                    </td>
                    <tr class="font-semiBold">CSS/SCSS</tr>
                    <td>
                        <div class="progressBar">
                            <div class="value css"></div>
                        </div>
                    </td>
                    <tr class="font-semiBold">Ionic/Cordova</tr>
                    <td>
                        <div class="progressBar">
                            <div class="value ionic"></div>
                        </div>
                    </td>
                    <tr class="font-semiBold">Vanilla JavaScript</tr>
                    <td>
                        <div class="progressBar">
                            <div class="value vanillaJS"></div>
                        </div>
                    </td>
                    <tr class="font-semiBold">React JS</tr>
                    <td>
                        <div class="progressBar">
                            <div class="value reactjs"></div>
                        </div>
                    </td>
                    <tr class="font-semiBold">Git</tr>
                    <td>
                        <div class="progressBar">
                            <div class="value git"></div>
                        </div>
                    </td>
                </table>
            </div>

        </div>

    </ng-container>


</section>
