<section id="work" class="section" data-aos="fade-up" data-aos-duration="4000">
  <div id="work" class="sectionHeader">Work Experience</div>
  <div class="timeline">
    <div *ngFor="let project of Projects  ;let i=index">
      <div *ngIf="(i+1)%2 !=0;else rightSide" class="container left">
        <div class="date desktop">{{project.year}}</div>
        <i class="fa-solid icon desktop fa fa-briefcase" style="color: #b1a9a9;"></i>
        <div class="content">
          <div class="dateMobile mobile">{{project.year}}</div>

          <h2>{{project.role}}</h2>
          <p>
            {{project.name}}
          </p>
          <div>{{project.tag}}</div>
        </div>
      </div>
      <ng-template #rightSide>
        <div class="container right">
          <div class="date">{{project.year}}</div>
          <i class=" desktop fa-solid icon fa fa-briefcase" style="color: #b1a9a9;"></i>
          <div class="content">
            <h2>{{project.role}}</h2>
            <p>
              {{project.name}}
            </p>
            <div>{{project.tag}}</div>

          </div>
        </div>
      </ng-template>
    </div>
  </div>
</section>