<app-side-menu></app-side-menu>
<section id="home">
    <div class="flex introCintainer pb-20 centerAlign flexColumn ">

        <svg class="desktop" viewBox="32.68 10.15 417.12 94.71">
            <path id="curve" d="M 56.2 95.6 c -26 5.9 150.5 -147.8 388.6 3.4 c 0 0 0 0" />
            <text style="font-size:25.5px" width="500">
                <textPath xlink:href="#curve">
                    Transforming your vision into reality </textPath>
            </text>
        </svg>

        <h3 class="introText whiteFont">Hey guys,</h3>

        <div  class="font-semiBold f-37 brown italic nameHeading">I'm Sushma</div>
        <div> <img class="objectFitContain" width="300" height="200"
                src="assets/images/photo-output-removebg-preview.png">
        </div>
        <p class="whiteFont noMargin mb-15">Front-end Web Developer | Avid Traveller </p>
        <button class="moreAbout"><a class="more" href="#about">More About me ></a></button>


    </div>
</section>
<ng-container>
    <app-about></app-about>
</ng-container>
<ng-container>
    <app-timeline></app-timeline>
</ng-container>
<ng-container>
    <app-education style="position: relative;"></app-education>
</ng-container>
<ng-container>
    <app-hobbies></app-hobbies>
</ng-container>
<ng-container>
    <app-certificate></app-certificate>
</ng-container>
<ng-container>
    <app-contact-me></app-contact-me>
</ng-container>