
  
  .container mat-form-field {
    width: 90%;
    margin-bottom: 15px;
    box-shadow: 5px 10px 18px rgb(215 196 196 / 28%);
    padding: 10px 20px;
}
  
  
  .container form {
    margin-bottom: 20px;
  }
  
  .container form > * {
    margin: 12px 0;
  }
  
  .container .mat-radio-button {
    margin: 0 12px;
  }
  
  .form-fields {
    display: flex;
    align-items: center;
    flex-basis: 65%;
  }
  .identityImg{
    width: 29px;
    height: 26px;
  }
  .gap{
    gap:40px 0;
    flex-basis: 35%;
    border-left: 2px solid rgba(255, 255, 153, 0.84);
    padding-left: 20px;
  }
 ::ng-deep .mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined) .mat-mdc-form-field-infix{
    padding-top: 24px;
    padding-bottom: 8px;
  }

  .home{
    padding: 8px 0 0 !important;

  }
  .tagName{
    color:var(--brown);
    font-weight: 700;
  }
  .tagValue{
    color: var(--green);
  }

.sendMessage{
  text-decoration: none;
}
.footerText{
  color: var(--grey);
  padding: 10px 10px 20px 10px;
    text-align: center;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 -3px 10px 3px rgba(0, 0, 0, 0.2);
}
.hearFrom{
  transform: scale(0.94);
  margin-block: 0;
  animation: scale 3s infinite cubic-bezier(0.5, 1, 0.89, 1)
}
h3>span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

h3>span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

h3>span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.reachOut{
  color: var(--green);
  font-size: 14px;
 
}.design{
  border-left: 1px solid grey;
  padding-left: 7px;
}
.logoImage{
  width: 30px;
  padding-right: 14px;
  padding-top: 8px;
}
.copyright{
    width: 18px;
    margin-right: 3px;
}
@media screen and (max-width:825px) {
  .contactBox{
    flex-direction: column;
    
  }
  .design{
    border-left: none;
    padding-left: 0;
  }
  iframe{
    margin:10px auto 0 auto;
    width: 100%;
    margin-left: 0 !important;
  }
  .gap{
    border:0;
    gap: 21px 0;
    margin-top: 21px;
    padding-left: 0;
  }
  .form-fields{
    padding-right: 0;
    border-radius: 10px;
    border: 1px dotted var(--grey);
    padding: 17px;
  }
  .footerText{
    font-size: 13px;
  }
  .design{
    display: block;
  }
}