.sideMenuContainer{
    
    position: absolute;
    // transform: translate(0,78%);
    top: 45%;
padding:0 12px
}
.icon:hover{
   cursor:pointer;
                    font-size: 14px;
                    transform: scale(1.05);
}