.sideMenuContainer {

    position: absolute;
    top: 32vh;
    padding: 0 12px
}

.icon:hover {
    cursor: pointer;
    font-size: 14px;
    transform: scale(1.05);
}

.logoImage {
    width: 30px;
    height: 30px;
}

@media screen and (max-width:500px) {
    .logoImage {

        height: 20px;
    }

    .sideMenuContainer {
        padding: 0 4px;
top: 42vh;
    }
}