<div id="sidemenu" data-aos="zoom-in-right" data-aos-duration="1000" class="sideMenuContainer">
    <div class="pb-10">
        <a href="https://www.linkedin.com/in/sushma-shenoy-7901b5163/">
            <img class="icon" class="logoImage" src="assets/images/linkedin-dark.svg">
        </a>
    </div>
    <div class="pb-10">
        <a href="">
            <img class="icon" class="logoImage" src="assets/images/twitter-dark.svg">
        </a>
    </div>
    <div class="pb-10">
        <a href="https://www.youtube.com/@sushmashenoy4200">
            <img class="icon" class="logoImage" src="assets/images/yt-dark.svg">
        </a>
    </div>
    <div class="pb-10">
        <a href="https://www.instagram.com/mss_art_gallery/">
            <img class="icon" class="logoImage" src="assets/images/icons8-instagram-500.svg">
        </a>
    </div>

</div>